body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/Lorenzo5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

/* Acerca de mi*/

#Acerca-de-mi{
  background-color: rgb(173, 202, 255);
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto h2{
  color:green
}

#Contacto form label {
  font-weight: 700;
  /*color: #373a3c;*/
  color:green;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
